body {
  background-color: #5B942A;
}

img {
    margin: 0 calc(50% - 150px);
    width: 300px;
}

#game {
  background-image: url(images/frog.jpg);
  background-size: cover;
  background-position: bottom left;
  background-repeat: no-repeat;
  /* background-color: #F7FBF6; */
  border: 1px dashed;
  margin: auto;
  display: block;
}

article {
  font-family: 'VT323', monospace;
  display: inline-flex;
  justify-content: space-between;
  margin: 10px calc(50% - 300px);
  width: 600px;
}

h1 {
  
}