body {
  background-color: #5B942A;
}

img {
    margin: 0 calc(50% - 150px);
    width: 300px;
}

#game {
  background-image: url(images/graph.png);
  background-size: 100%;
  border: 1px dashed;
  margin: auto;
  display: block;
}

article {
  font-family: 'VT323', monospace;
  margin: 10px auto;
  width: 600px;
}

h1 {
  display: inline-flex;
  justify-content: space-between;
}